[submodule "sputnik/externals/ramanujan"]
	path = sputnik/externals/ramanujan
	url = git@github.com:dushyant-shukla/ramanujan.git
[submodule "sputnik/externals/imgui"]
	path = sputnik/externals/imgui
	url = git@github.com:dushyant-shukla/imgui.git
[submodule "sputnik/externals/spdlog"]
	path = sputnik/externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "sputnik/externals/ImGuizmo"]
	path = sputnik/externals/ImGuizmo
	url = https://github.com/dushyant-shukla/ImGuizmo.git
