[submodule "engine/externals/ramanujan"]
	path = engine/externals/ramanujan
	url = git@github.com:dushyant-shukla/ramanujan.git
[submodule "engine/externals/imgui"]
	path = engine/externals/imgui
	url = git@github.com:dushyant-shukla/imgui.git
[submodule "engine/externals/spdlog"]
	path = engine/externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "engine/externals/imguizmo"]
	path = engine/externals/imguizmo
	url = https://github.com/dushyant-shukla/ImGuizmo.git
